@page "/agent"

<PageTitle>Agent</PageTitle>

<div class="main-content d-flex">
    <MudTabs Class="w-100" Outlined="true" Elevation="4" Border="true" ApplyEffectsToContainer="true" Position="Position.Right" PanelClass="pa-4">
        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddNewChat">New Chat</MudIconButton>
        @foreach (var chat in _chatsViewModels)
        {
            <MudTabPanel Text="@chat.DisplayName">
                <Chat ChatViewModel="@chat"/>
            </MudTabPanel>
        }
    </MudTabs>
</div>

@code {
    private readonly IList<ChatViewModel> _chatsViewModels = [];

    protected override void OnInitialized()
    {
        if (_chatsViewModels.Count == 0)
        {
            AddNewChat();
        }
    }

    private void AddNewChat()
    {
        var chat = new ChatViewModel(Guid.NewGuid(), $"Chat {_chatsViewModels.Count + 1}");
        _chatsViewModels.Add(chat);
        // StateHasChanged();
    }
}