html, body {
    height: 100vh;
    width: 100vw;
}

div.mud-main-content {
    height: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    padding: 2rem;
}


.main-content {
    height: 100%;
}

.chat-container {
    height: 100%;
}

.chat {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
}
